@mixin circle {
    &:before{
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color; 
        position: absolute;
        z-index: -1;
        top: -25%;
        left: -8px;
    }
}