.contacts {
    padding: 110px;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &-items {
        padding-top: 6px;
        .divided {
            width: 60px;
            height: 3px;
            background-color: $main-color;
            margin: 0;
        }
    }
    &-text {
        margin-top: 20px;
        font-weight: 700;
        font-size: 14px;
    }
    &__social {
        margin-top: 20px;
    }
    &-link {
        margin-right: 20px;
        text-decoration: none;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 30px;
        label {
            position: absolute;
            height: 18px;
            background-color: white;
            font-size: 12px;
            display: block;
            top: -9px;
            left: 12px;
            padding: 0 8px;
            .error {
                margin-top: 10px;
            }
        }
    }
    &__textarea {
        position: relative;
        grid-column:  1/3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px 15px;
        }

    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 20px;
        }
    }
    &__btn {
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;
        border: none;
    }

    &__triggers {
        display: grid;
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, auto);
        align-items: center;
    }
    &__policy {
        margin-left: 35px;
        input {
            margin-right: 10px;
            cursor: pointer;
        }
        span {
            font-weight: 500;
            font-size: 12px;
            a {
                text-decoration: none;
            }
        }
    }
}